@media screen and (min-width:1440px) {
      #section2 {
       margin-top: 300%;
      }
      #section3 {
        margin-top: 300%;
       }
      html {
        scroll-behavior: smooth;
      }
    .body-bg-color{
        background-color: #c5c2c2;
        
    }
    body {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
      }
      
      body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    .bordere{
        border: 5px solid red;
        
    }
    .text-imp{
        position: sticky;
        top: 50%;
        left: 1%;
    }
    .text-imp-2{
        position:sticky;
        top: 53%;
    }
    .text-imp-1{
        position:sticky;
        top: 18%;
    }

    .text-spec{
        font-size: 600%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
    }
    .text-h1{
        font-size: 200%;
        font-family: 'Roboto Slab', serif;
        color:aliceblue;
    }
    .text-h1-imp{
        position: absolute;
        top: 75%;
        left: 15%;
    }
    .text-p1{
        font-size: 150%;
        margin-top: 10%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43);
    }
    .text-p1-imp{
        position: absolute;
        text-align: center;
        top: 75%;
        left: 5%;
    }
    .slide-imp{
        position: absolute;
        margin-top: 5%;
    }
   
    .Icon-spec{
        font-size: 2000%; 
        -webkit-text-stroke-width: 5.5px; 
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
    }
    .Icon-imp-1{
        margin-left: -7%;
    }
    .Icon-imp-2{
        margin-left: -7%;
    }
    .rectangle-1 {
        height: 350px;
        width: 750px;
        border-radius: 50%;
        position:fixed;
        margin-top: 5%;
        margin-left: 5%;
        z-index: -2;
        background-color: rgb(175, 132, 132);
        transform: rotate(1856deg);
    }
    .rectangle-2 {
        height: 350px;
        width: 489px;
        border-radius: 50%;
        position:fixed;
        margin-top: 10%;
        z-index: -2;
        margin-left: 43%;
        background-color: rgb(99, 71, 99);
        transform: rotate(18916deg);

    }
    .rectangle-3 {
        height: 694px;
        width: 900px;
        border-radius: 75%;
        position:fixed;
        margin-top: 25%;
        z-index: -2;
        margin-left: 30%;
        background-color: rgb(141, 130, 130);
        transform: rotate(365deg)
    }
    .rectangle-4 {
        height: 491px;
        width: 791px;
        border-radius: 75%;
        position:fixed;
        margin-top: 42%;
        margin-left: 50%;
        z-index: -2;
        background-color: rgb(207, 180, 180);
        transform: rotate(305deg)
    }
    .rectangle-5 {
        height: 189px;
        width: 381px;
        border-radius: 75%;
        position:fixed;
        margin-top: 32%;
        margin-left: 10%;
        z-index: -2;
        background-color: rgb(153, 177, 148);
        transform: rotate(-219deg)
    }
    .rectangle-6 {
        height: 681px;
        width: 843px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 60%;
        z-index: -2;
        background-color: rgb(126, 147, 151);
        transform: rotate(-519deg);
    }
    .rectangle-7 {
        height: 681px;
        width: 461px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 3%;
        z-index: -2;
        background-color: rgb(78, 149, 161);
        transform: rotate(519deg);
    }
    .a {
        color: rgb(24, 23, 23);
        text-decoration: none;
    }
    .a:hover {
        color: rgb(24, 23, 23);
        text-decoration:none; 
        cursor:pointer;  
    }
    
}
@media screen and (min-width:1024px) and (max-width:1439px) {
    #section2 {
        margin-top: 300%;
       }
       #section3 {
         margin-top: 300%;
        }
       html {
         scroll-behavior: smooth;
       }
     .body-bg-color{
         background-color: #c5c2c2;
         
     }
     body {
         -ms-overflow-style: none; /* for Internet Explorer, Edge */
         scrollbar-width: none; /* for Firefox */
         overflow-y: scroll; 
       }
       
       body::-webkit-scrollbar {
         display: none; /* for Chrome, Safari, and Opera */
       }
     .bordere{
         border: 5px solid red;
         
     }
     .text-imp{
         position: sticky;
         top: 50%;
         left: 1%;
     }
     .text-imp-2{
         position:sticky;
         top: 53%;
     }
     .text-imp-1{
         position:sticky;
         top: 18%;
     }
 
     .text-spec{
         font-size: 600%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .text-h1{
         font-size: 200%;
         font-family: 'Roboto Slab', serif;
         color:aliceblue;
     }
     .text-h1-imp{
         position: absolute;
         top: 75%;
         left: 15%;
     }
     .text-p1{
         font-size: 150%;
         margin-top: 10%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43);
     }
     .text-p1-imp{
         position: absolute;
         text-align: center;
         top: 75%;
         left: 5%;
     }
     .slide-imp{
         position: absolute;
         margin-top: 5%;
     }
    
     .Icon-spec{
         font-size: 2000%; 
         -webkit-text-stroke-width: 5.5px; 
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .Icon-imp-1{
         margin-left: -7%;
     }
     .Icon-imp-2{
         margin-left: -7%;
     }
     .rectangle-1 {
         height: 350px;
         width: 750px;
         border-radius: 50%;
         position:fixed;
         margin-top: 5%;
         margin-left: 5%;
         z-index: -2;
         background-color: rgb(175, 132, 132);
         transform: rotate(1856deg);
     }
     .rectangle-2 {
         height: 350px;
         width: 489px;
         border-radius: 50%;
         position:fixed;
         margin-top: 10%;
         z-index: -2;
         margin-left: 43%;
         background-color: rgb(99, 71, 99);
         transform: rotate(18916deg);
 
     }
     .rectangle-3 {
         height: 694px;
         width: 900px;
         border-radius: 75%;
         position:fixed;
         margin-top: 25%;
         z-index: -2;
         margin-left: 30%;
         background-color: rgb(141, 130, 130);
         transform: rotate(365deg)
     }
     .rectangle-4 {
         height: 491px;
         width: 791px;
         border-radius: 75%;
         position:fixed;
         margin-top: 42%;
         margin-left: 50%;
         z-index: -2;
         background-color: rgb(207, 180, 180);
         transform: rotate(305deg)
     }
     .rectangle-5 {
         height: 189px;
         width: 381px;
         border-radius: 75%;
         position:fixed;
         margin-top: 32%;
         margin-left: 10%;
         z-index: -2;
         background-color: rgb(153, 177, 148);
         transform: rotate(-219deg)
     }
     .rectangle-6 {
         height: 681px;
         width: 843px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 60%;
         z-index: -2;
         background-color: rgb(126, 147, 151);
         transform: rotate(-519deg);
     }
     .rectangle-7 {
         height: 681px;
         width: 461px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 3%;
         z-index: -2;
         background-color: rgb(78, 149, 161);
         transform: rotate(519deg);
     }
     .a {
         color: rgb(24, 23, 23);
         text-decoration: none;
     }
     .a:hover {
         color: rgb(24, 23, 23);
         text-decoration:none; 
         cursor:pointer;  
     }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    #section2 {
        margin-top: 300%;
       }
       #section3 {
         margin-top: 300%;
        }
       html {
         scroll-behavior: smooth;
       }
     .body-bg-color{
         background-color: #c5c2c2;
         
     }
     body {
         -ms-overflow-style: none; /* for Internet Explorer, Edge */
         scrollbar-width: none; /* for Firefox */
         overflow-y: scroll; 
       }
       
       body::-webkit-scrollbar {
         display: none; /* for Chrome, Safari, and Opera */
       }
     .bordere{
         border: 5px solid red;
         
     }
     .text-imp{
         position: sticky;
         top: 50%;
         left: 1%;
     }
     .text-imp-2{
         position:sticky;
         top: 53%;
     }
     .text-imp-1{
         position:sticky;
         top: 18%;
     }
 
     .text-spec{
         font-size: 600%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .text-h1{
         font-size: 200%;
         font-family: 'Roboto Slab', serif;
         color:aliceblue;
     }
     .text-h1-imp{
         position: absolute;
         top: 75%;
         left: 15%;
     }
     .text-p1{
         font-size: 150%;
         margin-top: 10%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43);
     }
     .text-p1-imp{
         position: absolute;
         text-align: center;
         top: 75%;
         left: 5%;
     }
     .slide-imp{
         position: absolute;
         margin-top: 5%;
     }
    
     .Icon-spec{
         font-size: 2000%; 
         -webkit-text-stroke-width: 5.5px; 
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .Icon-imp-1{
         margin-left: -7%;
     }
     .Icon-imp-2{
         margin-left: -7%;
     }
     .rectangle-1 {
         height: 350px;
         width: 750px;
         border-radius: 50%;
         position:fixed;
         margin-top: 5%;
         margin-left: 5%;
         z-index: -2;
         background-color: rgb(175, 132, 132);
         transform: rotate(1856deg);
     }
     .rectangle-2 {
         height: 350px;
         width: 489px;
         border-radius: 50%;
         position:fixed;
         margin-top: 10%;
         z-index: -2;
         margin-left: 43%;
         background-color: rgb(99, 71, 99);
         transform: rotate(18916deg);
 
     }
     .rectangle-3 {
         height: 694px;
         width: 900px;
         border-radius: 75%;
         position:fixed;
         margin-top: 25%;
         z-index: -2;
         margin-left: 30%;
         background-color: rgb(141, 130, 130);
         transform: rotate(365deg)
     }
     .rectangle-4 {
         height: 491px;
         width: 791px;
         border-radius: 75%;
         position:fixed;
         margin-top: 42%;
         margin-left: 50%;
         z-index: -2;
         background-color: rgb(207, 180, 180);
         transform: rotate(305deg)
     }
     .rectangle-5 {
         height: 189px;
         width: 381px;
         border-radius: 75%;
         position:fixed;
         margin-top: 32%;
         margin-left: 10%;
         z-index: -2;
         background-color: rgb(153, 177, 148);
         transform: rotate(-219deg)
     }
     .rectangle-6 {
         height: 681px;
         width: 843px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 60%;
         z-index: -2;
         background-color: rgb(126, 147, 151);
         transform: rotate(-519deg);
     }
     .rectangle-7 {
         height: 681px;
         width: 461px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 3%;
         z-index: -2;
         background-color: rgb(78, 149, 161);
         transform: rotate(519deg);
     }
     .a {
         color: rgb(24, 23, 23);
         text-decoration: none;
     }
     .a:hover {
         color: rgb(24, 23, 23);
         text-decoration:none; 
         cursor:pointer;  
     }
}
@media screen and (min-width:425px) and (max-width: 767px) {
    #section2 {
        margin-top: 300%;
       }
       #section3 {
         margin-top: 300%;
        }
       html {
         scroll-behavior: smooth;
       }
     .body-bg-color{
         background-color: #c5c2c2;
         
     }
     body {
         -ms-overflow-style: none; /* for Internet Explorer, Edge */
         scrollbar-width: none; /* for Firefox */
         overflow-y: scroll; 
       }
       
       body::-webkit-scrollbar {
         display: none; /* for Chrome, Safari, and Opera */
       }
     .bordere{
         border: 5px solid red;
         
     }
     .text-imp{
         position: sticky;
         top: 50%;
         left: 1%;
     }
     .text-imp-2{
         position:sticky;
         top: 53%;
     }
     .text-imp-1{
         position:sticky;
         top: 18%;
     }
 
     .text-spec{
         font-size: 600%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .text-h1{
         font-size: 200%;
         font-family: 'Roboto Slab', serif;
         color:aliceblue;
     }
     .text-h1-imp{
         position: absolute;
         top: 75%;
         left: 15%;
     }
     .text-p1{
         font-size: 150%;
         margin-top: 10%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43);
     }
     .text-p1-imp{
         position: absolute;
         text-align: center;
         top: 75%;
         left: 5%;
     }
     .slide-imp{
         position: absolute;
         margin-top: 5%;
     }
    
     .Icon-spec{
         font-size: 2000%; 
         -webkit-text-stroke-width: 5.5px; 
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .Icon-imp-1{
         margin-left: -7%;
     }
     .Icon-imp-2{
         margin-left: -7%;
     }
     .rectangle-1 {
         height: 350px;
         width: 750px;
         border-radius: 50%;
         position:fixed;
         margin-top: 5%;
         margin-left: 5%;
         z-index: -2;
         background-color: rgb(175, 132, 132);
         transform: rotate(1856deg);
     }
     .rectangle-2 {
         height: 350px;
         width: 489px;
         border-radius: 50%;
         position:fixed;
         margin-top: 10%;
         z-index: -2;
         margin-left: 43%;
         background-color: rgb(99, 71, 99);
         transform: rotate(18916deg);
 
     }
     .rectangle-3 {
         height: 694px;
         width: 900px;
         border-radius: 75%;
         position:fixed;
         margin-top: 25%;
         z-index: -2;
         margin-left: 30%;
         background-color: rgb(141, 130, 130);
         transform: rotate(365deg)
     }
     .rectangle-4 {
         height: 491px;
         width: 791px;
         border-radius: 75%;
         position:fixed;
         margin-top: 42%;
         margin-left: 50%;
         z-index: -2;
         background-color: rgb(207, 180, 180);
         transform: rotate(305deg)
     }
     .rectangle-5 {
         height: 189px;
         width: 381px;
         border-radius: 75%;
         position:fixed;
         margin-top: 32%;
         margin-left: 10%;
         z-index: -2;
         background-color: rgb(153, 177, 148);
         transform: rotate(-219deg)
     }
     .rectangle-6 {
         height: 681px;
         width: 843px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 60%;
         z-index: -2;
         background-color: rgb(126, 147, 151);
         transform: rotate(-519deg);
     }
     .rectangle-7 {
         height: 681px;
         width: 461px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 3%;
         z-index: -2;
         background-color: rgb(78, 149, 161);
         transform: rotate(519deg);
     }
     .a {
         color: rgb(24, 23, 23);
         text-decoration: none;
     }
     .a:hover {
         color: rgb(24, 23, 23);
         text-decoration:none; 
         cursor:pointer;  
     }
}
@media screen and (min-width:375px) and (max-width: 424px) {
    #section2 {
        margin-top: 300%;
       }
       #section3 {
         margin-top: 300%;
        }
       html {
         scroll-behavior: smooth;
       }
     .body-bg-color{
         background-color: #c5c2c2;
         
     }
     body {
         -ms-overflow-style: none; /* for Internet Explorer, Edge */
         scrollbar-width: none; /* for Firefox */
         overflow-y: scroll; 
       }
       
       body::-webkit-scrollbar {
         display: none; /* for Chrome, Safari, and Opera */
       }
     .bordere{
         border: 5px solid red;
         
     }
     .text-imp{
         position: sticky;
         top: 50%;
         left: 1%;
     }
     .text-imp-2{
         position:sticky;
         top: 53%;
     }
     .text-imp-1{
         position:sticky;
         top: 18%;
     }
 
     .text-spec{
         font-size: 600%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .text-h1{
         font-size: 200%;
         font-family: 'Roboto Slab', serif;
         color:aliceblue;
     }
     .text-h1-imp{
         position: absolute;
         top: 75%;
         left: 15%;
     }
     .text-p1{
         font-size: 150%;
         margin-top: 10%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43);
     }
     .text-p1-imp{
         position: absolute;
         text-align: center;
         top: 75%;
         left: 5%;
     }
     .slide-imp{
         position: absolute;
         margin-top: 5%;
     }
    
     .Icon-spec{
         font-size: 2000%; 
         -webkit-text-stroke-width: 5.5px; 
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .Icon-imp-1{
         margin-left: -7%;
     }
     .Icon-imp-2{
         margin-left: -7%;
     }
     .rectangle-1 {
         height: 350px;
         width: 750px;
         border-radius: 50%;
         position:fixed;
         margin-top: 5%;
         margin-left: 5%;
         z-index: -2;
         background-color: rgb(175, 132, 132);
         transform: rotate(1856deg);
     }
     .rectangle-2 {
         height: 350px;
         width: 489px;
         border-radius: 50%;
         position:fixed;
         margin-top: 10%;
         z-index: -2;
         margin-left: 43%;
         background-color: rgb(99, 71, 99);
         transform: rotate(18916deg);
 
     }
     .rectangle-3 {
         height: 694px;
         width: 900px;
         border-radius: 75%;
         position:fixed;
         margin-top: 25%;
         z-index: -2;
         margin-left: 30%;
         background-color: rgb(141, 130, 130);
         transform: rotate(365deg)
     }
     .rectangle-4 {
         height: 491px;
         width: 791px;
         border-radius: 75%;
         position:fixed;
         margin-top: 42%;
         margin-left: 50%;
         z-index: -2;
         background-color: rgb(207, 180, 180);
         transform: rotate(305deg)
     }
     .rectangle-5 {
         height: 189px;
         width: 381px;
         border-radius: 75%;
         position:fixed;
         margin-top: 32%;
         margin-left: 10%;
         z-index: -2;
         background-color: rgb(153, 177, 148);
         transform: rotate(-219deg)
     }
     .rectangle-6 {
         height: 681px;
         width: 843px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 60%;
         z-index: -2;
         background-color: rgb(126, 147, 151);
         transform: rotate(-519deg);
     }
     .rectangle-7 {
         height: 681px;
         width: 461px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 3%;
         z-index: -2;
         background-color: rgb(78, 149, 161);
         transform: rotate(519deg);
     }
     .a {
         color: rgb(24, 23, 23);
         text-decoration: none;
     }
     .a:hover {
         color: rgb(24, 23, 23);
         text-decoration:none; 
         cursor:pointer;  
     }
  
}
@media screen and (min-width:320px) and (max-width: 374px) {
    #section2 {
        margin-top: 300%;
       }
       #section3 {
         margin-top: 300%;
        }
       html {
         scroll-behavior: smooth;
       }
     .body-bg-color{
         background-color: #c5c2c2;
         
     }
     body {
         -ms-overflow-style: none; /* for Internet Explorer, Edge */
         scrollbar-width: none; /* for Firefox */
         overflow-y: scroll; 
       }
       
       body::-webkit-scrollbar {
         display: none; /* for Chrome, Safari, and Opera */
       }
     .bordere{
         border: 5px solid red;
         
     }
     .text-imp{
         position: sticky;
         top: 50%;
         left: 1%;
     }
     .text-imp-2{
         position:sticky;
         top: 53%;
     }
     .text-imp-1{
         position:sticky;
         top: 18%;
     }
 
     .text-spec{
         font-size: 600%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .text-h1{
         font-size: 200%;
         font-family: 'Roboto Slab', serif;
         color:aliceblue;
     }
     .text-h1-imp{
         position: absolute;
         top: 75%;
         left: 15%;
     }
     .text-p1{
         font-size: 150%;
         margin-top: 10%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43);
     }
     .text-p1-imp{
         position: absolute;
         text-align: center;
         top: 75%;
         left: 5%;
     }
     .slide-imp{
         position: absolute;
         margin-top: 5%;
     }
    
     .Icon-spec{
         font-size: 2000%; 
         -webkit-text-stroke-width: 5.5px; 
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .Icon-imp-1{
         margin-left: -7%;
     }
     .Icon-imp-2{
         margin-left: -7%;
     }
     .rectangle-1 {
         height: 350px;
         width: 750px;
         border-radius: 50%;
         position:fixed;
         margin-top: 5%;
         margin-left: 5%;
         z-index: -2;
         background-color: rgb(175, 132, 132);
         transform: rotate(1856deg);
     }
     .rectangle-2 {
         height: 350px;
         width: 489px;
         border-radius: 50%;
         position:fixed;
         margin-top: 10%;
         z-index: -2;
         margin-left: 43%;
         background-color: rgb(99, 71, 99);
         transform: rotate(18916deg);
 
     }
     .rectangle-3 {
         height: 694px;
         width: 900px;
         border-radius: 75%;
         position:fixed;
         margin-top: 25%;
         z-index: -2;
         margin-left: 30%;
         background-color: rgb(141, 130, 130);
         transform: rotate(365deg)
     }
     .rectangle-4 {
         height: 491px;
         width: 791px;
         border-radius: 75%;
         position:fixed;
         margin-top: 42%;
         margin-left: 50%;
         z-index: -2;
         background-color: rgb(207, 180, 180);
         transform: rotate(305deg)
     }
     .rectangle-5 {
         height: 189px;
         width: 381px;
         border-radius: 75%;
         position:fixed;
         margin-top: 32%;
         margin-left: 10%;
         z-index: -2;
         background-color: rgb(153, 177, 148);
         transform: rotate(-219deg)
     }
     .rectangle-6 {
         height: 681px;
         width: 843px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 60%;
         z-index: -2;
         background-color: rgb(126, 147, 151);
         transform: rotate(-519deg);
     }
     .rectangle-7 {
         height: 681px;
         width: 461px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 3%;
         z-index: -2;
         background-color: rgb(78, 149, 161);
         transform: rotate(519deg);
     }
     .a {
         color: rgb(24, 23, 23);
         text-decoration: none;
     }
     .a:hover {
         color: rgb(24, 23, 23);
         text-decoration:none; 
         cursor:pointer;  
     }
  
}
@media screen and (min-width:1px) and (max-width: 319px) {
    #section2 {
        margin-top: 300%;
       }
       #section3 {
         margin-top: 300%;
        }
       html {
         scroll-behavior: smooth;
       }
     .body-bg-color{
         background-color: #c5c2c2;
         
     }
     body {
         -ms-overflow-style: none; /* for Internet Explorer, Edge */
         scrollbar-width: none; /* for Firefox */
         overflow-y: scroll; 
       }
       
       body::-webkit-scrollbar {
         display: none; /* for Chrome, Safari, and Opera */
       }
     .bordere{
         border: 5px solid red;
         
     }
     .text-imp{
         position: sticky;
         top: 50%;
         left: 1%;
     }
     .text-imp-2{
         position:sticky;
         top: 53%;
     }
     .text-imp-1{
         position:sticky;
         top: 18%;
     }
 
     .text-spec{
         font-size: 600%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .text-h1{
         font-size: 200%;
         font-family: 'Roboto Slab', serif;
         color:aliceblue;
     }
     .text-h1-imp{
         position: absolute;
         top: 75%;
         left: 15%;
     }
     .text-p1{
         font-size: 150%;
         margin-top: 10%;
         font-family: 'Roboto Slab', serif;
         text-shadow: rgb(59, 43, 43);
     }
     .text-p1-imp{
         position: absolute;
         text-align: center;
         top: 75%;
         left: 5%;
     }
     .slide-imp{
         position: absolute;
         margin-top: 5%;
     }
    
     .Icon-spec{
         font-size: 2000%; 
         -webkit-text-stroke-width: 5.5px; 
         text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
     }
     .Icon-imp-1{
         margin-left: -7%;
     }
     .Icon-imp-2{
         margin-left: -7%;
     }
     .rectangle-1 {
         height: 350px;
         width: 750px;
         border-radius: 50%;
         position:fixed;
         margin-top: 5%;
         margin-left: 5%;
         z-index: -2;
         background-color: rgb(175, 132, 132);
         transform: rotate(1856deg);
     }
     .rectangle-2 {
         height: 350px;
         width: 489px;
         border-radius: 50%;
         position:fixed;
         margin-top: 10%;
         z-index: -2;
         margin-left: 43%;
         background-color: rgb(99, 71, 99);
         transform: rotate(18916deg);
 
     }
     .rectangle-3 {
         height: 694px;
         width: 900px;
         border-radius: 75%;
         position:fixed;
         margin-top: 25%;
         z-index: -2;
         margin-left: 30%;
         background-color: rgb(141, 130, 130);
         transform: rotate(365deg)
     }
     .rectangle-4 {
         height: 491px;
         width: 791px;
         border-radius: 75%;
         position:fixed;
         margin-top: 42%;
         margin-left: 50%;
         z-index: -2;
         background-color: rgb(207, 180, 180);
         transform: rotate(305deg)
     }
     .rectangle-5 {
         height: 189px;
         width: 381px;
         border-radius: 75%;
         position:fixed;
         margin-top: 32%;
         margin-left: 10%;
         z-index: -2;
         background-color: rgb(153, 177, 148);
         transform: rotate(-219deg)
     }
     .rectangle-6 {
         height: 681px;
         width: 843px;
         border-radius: 75%; 
         position:fixed;
         margin-top: 1%;
         margin-left: 60%;
         z-index: -2;
         background-color: rgb(126, 147, 151);
         transform: rotate(-519deg);
     }
     .rectangle-7 {
         height: 681px;
         width: 461px;
         border-radius: 75%;
         position:fixed;
         margin-top: 1%;
         margin-left: 3%;
         z-index: -2;
         background-color: rgb(78, 149, 161);
         transform: rotate(519deg);
     }
     .a {
         color: rgb(24, 23, 23);
         text-decoration: none;
     }
     .a:hover {
         color: rgb(24, 23, 23);
         text-decoration:none; 
         cursor:pointer;  
     }
  
}

