@media screen and (min-width:1440px) {
      #space{
        margin-top: 50%;
        width: 300%;
        height: 300%;

      }
      #section2 {
        width: 100%;
        height: 120%;
      }
      #section3 {
        width: 100%;
        height: 120%;
       }
      html {
        scroll-behavior: smooth;
      }
    .body-bg-color{
        background-color: #c5c2c2;
        
    }
    body {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
      }
      
      body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    .bordere{
        border: 5px solid red;
        
    }
    .text-imp-1{
        position:sticky;
        top: 53%;
    }
    .text-imp-2{
        position:sticky;
        top: 55%;
    }
    .who-text-imp{
        position: sticky;
        top: 10%;
    }
    .Icon-imp-1{
        position: relative;
        top: 20%;

    }
    .Icon-imp-2{
        position: relative;
        top: 20%;

    }
    .text-p1-imp-1{
        position: relative;
        top: 20%;
    }
    .text-p1-imp-2{
        position: relative;
        top: 25%;
    }
    .text-imp-header{
        position: relative;
        top: 20%;
    }
    .text-spec{
        font-size: 600%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
        text-align: center;
        text-transform: uppercase;
    }
    .text-h1{
        font-size: 200%;
        font-family: 'Roboto Slab', serif;
        color:aliceblue;
    }
    .text-p1{
        font-size: 150%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43);
    }
    .Icon-spec{
        font-size: 2000%; 
        -webkit-text-stroke-width: 5.5px; 
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
    }
    .rectangle-1 {
        height: 350px;
        width: 750px;
        border-radius: 50%;
        position:fixed;
        margin-top: 5%;
        margin-left: 5%;
        z-index: -2;
        background-color: rgb(175, 132, 132);
        transform: rotate(1856deg);
    }
    .rectangle-2 {
        height: 350px;
        width: 489px;
        border-radius: 50%;
        position:fixed;
        margin-top: 10%;
        z-index: -2;
        margin-left: 43%;
        background-color: rgb(99, 71, 99);
        transform: rotate(18916deg);

    }
    .rectangle-3 {
        height: 694px;
        width: 900px;
        border-radius: 75%;
        position:fixed;
        margin-top: 25%;
        z-index: -2;
        margin-left: 30%;
        background-color: rgb(141, 130, 130);
        transform: rotate(365deg)
    }
    .rectangle-4 {
        height: 491px;
        width: 791px;
        border-radius: 75%;
        position:fixed;
        margin-top: 42%;
        margin-left: 50%;
        z-index: -2;
        background-color: rgb(207, 180, 180);
        transform: rotate(305deg)
    }
    .rectangle-5 {
        height: 189px;
        width: 381px;
        border-radius: 75%;
        position:fixed;
        margin-top: 32%;
        margin-left: 10%;
        z-index: -2;
        background-color: rgb(153, 177, 148);
        transform: rotate(-219deg)
    }
    .rectangle-6 {
        height: 681px;
        width: 843px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 60%;
        z-index: -2;
        background-color: rgb(126, 147, 151);
        transform: rotate(-519deg);
    }
    .rectangle-7 {
        height: 681px;
        width: 461px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 3%;
        z-index: -2;
        background-color: rgb(78, 149, 161);
        transform: rotate(519deg);
    }
    .a {
        color: rgb(24, 23, 23);
        text-decoration: none;
    }
    .a:hover {
        color: rgb(24, 23, 23);
        text-decoration:none; 
        cursor:pointer;  
    }
    
}
@media screen and (min-width:1024px) and (max-width:1439px) {
    #space{
        margin-top: 50%;
        width: 300%;
        height: 300%;

      }
      #section2 {
        width: 100%;
        height: 100%;
      }
      #section3 {
        width: 100%;
        height: 100%;
       }
      html {
        scroll-behavior: smooth;
      }
    .body-bg-color{
        background-color: #c5c2c2;
        
    }
    body {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
      }
      
      body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    .bordere{
        border: 5px solid red;
        
    }
    .text-imp-1{
        position:sticky;
        top: 53%;
    }
    .text-imp-2{
        position:sticky;
        top: 62%;
    }
    .text-imp-header{
        position: relative;
        top: 20%;
    }
    .who-text-imp{
        position: sticky;
        top: 10%;
    }
    .Icon-imp-1{
        position: relative;
        top: 30%;

    }
    .Icon-imp-2{
        position: relative;
        top: 13%;

    }
    .text-p1-imp-1{
        position: relative;
        top: 20%;
    }
    .text-p1-imp-2{
        position: relative;
        top: 20%;
    }
    .text-spec{
        font-size: 400%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
        text-align: center;
        text-transform: uppercase;
    }
    .text-h1{
        font-size: 200%;
        font-family: 'Roboto Slab', serif;
        color:aliceblue;
    }
    .text-p1{
        font-size: 150%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43);
    }
    .Icon-spec{
        font-size: 1700%; 
        -webkit-text-stroke-width: 5.5px; 
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
    }
    .rectangle-1 {
        height: 350px;
        width: 750px;
        border-radius: 50%;
        position:fixed;
        margin-top: 5%;
        margin-left: 5%;
        z-index: -2;
        background-color: rgb(175, 132, 132);
        transform: rotate(1856deg);
    }
    .rectangle-2 {
        height: 350px;
        width: 489px;
        border-radius: 50%;
        position:fixed;
        margin-top: 10%;
        z-index: -2;
        margin-left: 43%;
        background-color: rgb(99, 71, 99);
        transform: rotate(18916deg);

    }
    .rectangle-3 {
        height: 694px;
        width: 900px;
        border-radius: 75%;
        position:fixed;
        margin-top: 25%;
        z-index: -2;
        margin-left: 30%;
        background-color: rgb(141, 130, 130);
        transform: rotate(365deg)
    }
    .rectangle-4 {
        height: 491px;
        width: 791px;
        border-radius: 75%;
        position:fixed;
        margin-top: 42%;
        margin-left: 50%;
        z-index: -2;
        background-color: rgb(207, 180, 180);
        transform: rotate(305deg)
    }
    .rectangle-5 {
        height: 189px;
        width: 381px;
        border-radius: 75%;
        position:fixed;
        margin-top: 32%;
        margin-left: 10%;
        z-index: -2;
        background-color: rgb(153, 177, 148);
        transform: rotate(-219deg)
    }
    .rectangle-6 {
        height: 681px;
        width: 843px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 60%;
        z-index: -2;
        background-color: rgb(126, 147, 151);
        transform: rotate(-519deg);
    }
    .rectangle-7 {
        height: 681px;
        width: 461px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 3%;
        z-index: -2;
        background-color: rgb(78, 149, 161);
        transform: rotate(519deg);
    }
    .a {
        color: rgb(24, 23, 23);
        text-decoration: none;
    }
    .a:hover {
        color: rgb(24, 23, 23);
        text-decoration:none; 
        cursor:pointer;  
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    #space{
        margin-top: 60%;
        width: 300%;
        height: 300%;

      }
      #section2 {
        width: 100%;
        height: 100%;
      }
      #section3 {
        width: 100%;
        height: 100%;
       }
      html {
        scroll-behavior: smooth;
      }
    .body-bg-color{
        background-color: #c5c2c2;
        
    }
    body {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
      }
      
      body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    .bordere{
        border: 5px solid red;
        
    }
    .text-imp-1{
        position:sticky;
        top: 53%;
    }
    .text-imp-2{
        position:sticky;
        top: 63%;
    }
    
    .text-imp-header{
        position:sticky;
        top: 13%;
    }
    .who-text-imp{
        position: sticky;
        top: 10%;
    }
    .Icon-imp-1{
        position: relative;
        top: 30%;

    }
    .text-p1-imp-2{
        position: relative;
        top: 20%;
    }
    .Icon-imp-2{
        position: relative;
        top: 20%;

    }
    .text-p1-imp-1{
        position: relative;
        top: 20%;
    }
    .text-spec{
        font-size: 400%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
        text-align: center;
        text-transform: uppercase;
    }
    .text-h1{
        font-size: 200%;
        font-family: 'Roboto Slab', serif;
        color:aliceblue;
    }
    .text-p1{
        font-size: 150%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43);
    }
    .Icon-spec{
        font-size: 1500%; 
        -webkit-text-stroke-width: 5.5px; 
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
    }
    .rectangle-1 {
        height: 350px;
        width: 750px;
        border-radius: 50%;
        position:fixed;
        margin-top: 5%;
        margin-left: 5%;
        z-index: -2;
        background-color: rgb(175, 132, 132);
        transform: rotate(1856deg);
    }
    .rectangle-2 {
        height: 350px;
        width: 489px;
        border-radius: 50%;
        position:fixed;
        margin-top: 10%;
        z-index: -2;
        margin-left: 43%;
        background-color: rgb(99, 71, 99);
        transform: rotate(18916deg);

    }
    .rectangle-3 {
        height: 694px;
        width: 900px;
        border-radius: 75%;
        position:fixed;
        margin-top: 25%;
        z-index: -2;
        margin-left: 30%;
        background-color: rgb(141, 130, 130);
        transform: rotate(365deg)
    }
    .rectangle-4 {
        height: 491px;
        width: 791px;
        border-radius: 75%;
        position:fixed;
        margin-top: 42%;
        margin-left: 50%;
        z-index: -2;
        background-color: rgb(207, 180, 180);
        transform: rotate(305deg)
    }
    .rectangle-5 {
        height: 189px;
        width: 381px;
        border-radius: 75%;
        position:fixed;
        margin-top: 32%;
        margin-left: 10%;
        z-index: -2;
        background-color: rgb(153, 177, 148);
        transform: rotate(-219deg)
    }
    .rectangle-6 {
        height: 681px;
        width: 843px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 60%;
        z-index: -2;
        background-color: rgb(126, 147, 151);
        transform: rotate(-519deg);
    }
    .rectangle-7 {
        height: 681px;
        width: 461px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 3%;
        z-index: -2;
        background-color: rgb(78, 149, 161);
        transform: rotate(519deg);
    }
    .a {
        color: rgb(24, 23, 23);
        text-decoration: none;
    }
    .a:hover {
        color: rgb(24, 23, 23);
        text-decoration:none; 
        cursor:pointer;  
    }
    
}
@media screen and (min-width:425px) and (max-width: 767px) {
    #space{
        margin-top: 110%;
        width: 300%;
        height: 300%;

      }
      #section2 {
        width: 100%;
        height: 100%;
      }
      #section3 {
        width: 100%;
        height: 100%;
       }
      html {
        scroll-behavior: smooth;
      }
    .body-bg-color{
        background-color: #c5c2c2;
        
    }
    body {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
      }
      
      body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    .bordere{
        border: 5px solid red;
        
    }
    .text-imp-1{
        position:sticky;
        top: 55%;
    }
    .text-imp-2{
        position:sticky;
        top: 66%;
    }
    .text-imp-header{
        position:sticky;
        top: 13%;
    }
    .who-text-imp{
        position: sticky;
        top: 10%;
    }
    .Icon-imp-1{
        position: relative;
        top: 30%;

    }
    .Icon-imp-2{
        position: relative;
        top: 15%;

    }
    .text-p1-imp-1{
        position: relative;
        top: 20%;
    }
    .text-p1-imp-2{
        position: relative;
        top: 20%;
    }
    .text-spec{
        font-size: 400%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
        text-align: center;
        text-transform: uppercase;
    }
    .text-h1{
        font-size: 200%;
        font-family: 'Roboto Slab', serif;
        color:aliceblue;
    }
    .text-p1{
        font-size: 134%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43);
    }
    .Icon-spec{
        font-size: 1500%; 
        -webkit-text-stroke-width: 5.5px; 
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
    }
    .rectangle-1 {
        height: 350px;
        width: 750px;
        border-radius: 50%;
        position:fixed;
        margin-top: 5%;
        margin-left: 5%;
        z-index: -2;
        background-color: rgb(175, 132, 132);
        transform: rotate(1856deg);
    }
    .rectangle-2 {
        height: 350px;
        width: 489px;
        border-radius: 50%;
        position:fixed;
        margin-top: 10%;
        z-index: -2;
        margin-left: 43%;
        background-color: rgb(99, 71, 99);
        transform: rotate(18916deg);

    }
    .rectangle-3 {
        height: 694px;
        width: 900px;
        border-radius: 75%;
        position:fixed;
        margin-top: 25%;
        z-index: -2;
        margin-left: 30%;
        background-color: rgb(141, 130, 130);
        transform: rotate(365deg)
    }
    .rectangle-4 {
        height: 491px;
        width: 791px;
        border-radius: 75%;
        position:fixed;
        margin-top: 42%;
        margin-left: 50%;
        z-index: -2;
        background-color: rgb(207, 180, 180);
        transform: rotate(305deg)
    }
    .rectangle-5 {
        height: 189px;
        width: 381px;
        border-radius: 75%;
        position:fixed;
        margin-top: 32%;
        margin-left: 10%;
        z-index: -2;
        background-color: rgb(153, 177, 148);
        transform: rotate(-219deg)
    }
    .rectangle-6 {
        height: 681px;
        width: 843px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 60%;
        z-index: -2;
        background-color: rgb(126, 147, 151);
        transform: rotate(-519deg);
    }
    .rectangle-7 {
        height: 681px;
        width: 461px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 3%;
        z-index: -2;
        background-color: rgb(78, 149, 161);
        transform: rotate(519deg);
    }
    .a {
        color: rgb(24, 23, 23);
        text-decoration: none;
    }
    .a:hover {
        color: rgb(24, 23, 23);
        text-decoration:none; 
        cursor:pointer;  
    }
    
}
@media screen and (min-width:375px) and (max-width: 424px) {
    #space{
        margin-top: 100%;
        width: 300%;
        height: 300%;

      }
      #section2 {
        width: 100%;
        height: 100%;
      }
      #section3 {
        width: 100%;
        height: 100%;
       }
      html {
        scroll-behavior: smooth;
      }
    .body-bg-color{
        background-color: #c5c2c2;
        
    }
    body {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
      }
      
      body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    .bordere{
        border: 5px solid red;
        
    }
    .text-imp-1{
        position:sticky;
        top: 50%;
    }
    .text-imp-2{
        position:sticky;
        top: 66%;
    }
    .text-imp-header{
        position:sticky;
        top: 12%;
    }
    .who-text-imp{
        position: sticky;
        top: 10%;
    }
    .Icon-imp-1{
        position:relative;
        top: 48%;

    }
    .Icon-imp-2{
        position: relative;
        top: 20%;

    }
    .text-p1-imp-1{
        position: relative;
        top: 35%;
    }
    .text-p1-imp-2{
        position: relative;
        top: 15%;
    }
    .text-spec{
        font-size: 350%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
        text-align: center;
        text-transform: uppercase;
    }
    .text-h1{
        font-size: 200%;
        font-family: 'Roboto Slab', serif;
        color:aliceblue;
    }
    .text-p1{
        font-size: 134%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43);
    }
    .Icon-spec{
        font-size: 1350%; 
        -webkit-text-stroke-width: 5.5px; 
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
    }
    .rectangle-1 {
        height: 350px;
        width: 750px;
        border-radius: 50%;
        position:fixed;
        margin-top: 5%;
        margin-left: 5%;
        z-index: -2;
        background-color: rgb(175, 132, 132);
        transform: rotate(1856deg);
    }
    .rectangle-2 {
        height: 350px;
        width: 489px;
        border-radius: 50%;
        position:fixed;
        margin-top: 10%;
        z-index: -2;
        margin-left: 43%;
        background-color: rgb(99, 71, 99);
        transform: rotate(18916deg);

    }
    .rectangle-3 {
        height: 694px;
        width: 900px;
        border-radius: 75%;
        position:fixed;
        margin-top: 25%;
        z-index: -2;
        margin-left: 30%;
        background-color: rgb(141, 130, 130);
        transform: rotate(365deg)
    }
    .rectangle-4 {
        height: 491px;
        width: 791px;
        border-radius: 75%;
        position:fixed;
        margin-top: 42%;
        margin-left: 50%;
        z-index: -2;
        background-color: rgb(207, 180, 180);
        transform: rotate(305deg)
    }
    .rectangle-5 {
        height: 189px;
        width: 381px;
        border-radius: 75%;
        position:fixed;
        margin-top: 32%;
        margin-left: 10%;
        z-index: -2;
        background-color: rgb(153, 177, 148);
        transform: rotate(-219deg)
    }
    .rectangle-6 {
        height: 681px;
        width: 843px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 60%;
        z-index: -2;
        background-color: rgb(126, 147, 151);
        transform: rotate(-519deg);
    }
    .rectangle-7 {
        height: 681px;
        width: 461px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 3%;
        z-index: -2;
        background-color: rgb(78, 149, 161);
        transform: rotate(519deg);
    }
    .a {
        color: rgb(24, 23, 23);
        text-decoration: none;
    }
    .a:hover {
        color: rgb(24, 23, 23);
        text-decoration:none; 
        cursor:pointer;  
    }
}
@media screen and (min-width:320px) and (max-width: 374px) {
    #space{
        margin-top: 170%;
        width: 300%;
        height: 300%;

      }
      #section2 {
        width: 100%;
        height: 100%;
      }
      #section3 {
        width: 100%;
        height: 100%;
       }
      html {
        scroll-behavior: smooth;
      }
    .body-bg-color{
        background-color: #c5c2c2;
        
    }
    body {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
      }
      
      body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    .bordere{
        border: 5px solid red;
        
    }
    .text-imp-1{
        position:sticky;
        top: 80%;
    }
    .text-imp-2{
        position:sticky;
        top: 66%;
    }
    .text-imp-header{
        position:sticky;
        top: 10%;
    }
    .who-text-imp{
        position: sticky;
        top: 10%;
    }
    .Icon-imp-1{
        position:relative;
        top: 50%;

    }
    .Icon-imp-2{
        position: relative;
        top: 15%;

    }
    .text-p1-imp-1{
        position: relative;
        top: 20%;
    }
    .text-p1-imp-2{
        position: relative;
        top: 20%;
    }
    .text-spec{
        font-size: 300%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
        text-align: center;
        text-transform: uppercase;
    }
    .text-h1{
        font-size: 200%;
        font-family: 'Roboto Slab', serif;
        color:aliceblue;
    }
    .text-p1{
        font-size: 134%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43);
    }
    .Icon-spec{
        font-size: 1250%; 
        -webkit-text-stroke-width: 5.5px; 
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
    }
    .rectangle-1 {
        height: 350px;
        width: 750px;
        border-radius: 50%;
        position:fixed;
        margin-top: 5%;
        margin-left: 5%;
        z-index: -2;
        background-color: rgb(175, 132, 132);
        transform: rotate(1856deg);
    }
    .rectangle-2 {
        height: 350px;
        width: 489px;
        border-radius: 50%;
        position:fixed;
        margin-top: 10%;
        z-index: -2;
        margin-left: 43%;
        background-color: rgb(99, 71, 99);
        transform: rotate(18916deg);

    }
    .rectangle-3 {
        height: 694px;
        width: 900px;
        border-radius: 75%;
        position:fixed;
        margin-top: 25%;
        z-index: -2;
        margin-left: 30%;
        background-color: rgb(141, 130, 130);
        transform: rotate(365deg)
    }
    .rectangle-4 {
        height: 491px;
        width: 791px;
        border-radius: 75%;
        position:fixed;
        margin-top: 42%;
        margin-left: 50%;
        z-index: -2;
        background-color: rgb(207, 180, 180);
        transform: rotate(305deg)
    }
    .rectangle-5 {
        height: 189px;
        width: 381px;
        border-radius: 75%;
        position:fixed;
        margin-top: 32%;
        margin-left: 10%;
        z-index: -2;
        background-color: rgb(153, 177, 148);
        transform: rotate(-219deg)
    }
    .rectangle-6 {
        height: 681px;
        width: 843px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 60%;
        z-index: -2;
        background-color: rgb(126, 147, 151);
        transform: rotate(-519deg);
    }
    .rectangle-7 {
        height: 681px;
        width: 461px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 3%;
        z-index: -2;
        background-color: rgb(78, 149, 161);
        transform: rotate(519deg);
    }
    .a {
        color: rgb(24, 23, 23);
        text-decoration: none;
    }
    .a:hover {
        color: rgb(24, 23, 23);
        text-decoration:none; 
        cursor:pointer;  
    }
    
}
@media screen and (min-width:1px) and (max-width: 319px) {
    #space{
        margin-top: 50%;
        width: 300%;
        height: 300%;

      }
      #section2 {
        width: 100%;
        height: 100%;
      }
      #section3 {
        width: 100%;
        height: 100%;
       }
      html {
        scroll-behavior: smooth;
      }
    .body-bg-color{
        background-color: #c5c2c2;
        
    }
    body {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
      }
      
      body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    .bordere{
        border: 5px solid red;
        
    }
    .text-imp-1{
        position:sticky;
        top: 18%;
    }
    .text-imp-2{
        position:sticky;
        top: 55%;
    }
    .who-text-imp{
        position: sticky;
        top: 10%;
    }
    .Icon-imp-1{
        position: relative;
        top: 20%;

    }
    .text-p1-imp-1{
        position: relative;
        top: 20%;
    }
    .text-spec{
        font-size: 600%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
        text-align: center;
        text-transform: uppercase;
    }
    .text-h1{
        font-size: 200%;
        font-family: 'Roboto Slab', serif;
        color:aliceblue;
    }
    .text-p1{
        font-size: 150%;
        font-family: 'Roboto Slab', serif;
        text-shadow: rgb(59, 43, 43);
    }
    .Icon-spec{
        font-size: 2000%; 
        -webkit-text-stroke-width: 5.5px; 
        text-shadow: rgb(59, 43, 43) 13.2px 10.5px 16.7px;
    }
    .rectangle-1 {
        height: 350px;
        width: 750px;
        border-radius: 50%;
        position:fixed;
        margin-top: 5%;
        margin-left: 5%;
        z-index: -2;
        background-color: rgb(175, 132, 132);
        transform: rotate(1856deg);
    }
    .rectangle-2 {
        height: 350px;
        width: 489px;
        border-radius: 50%;
        position:fixed;
        margin-top: 10%;
        z-index: -2;
        margin-left: 43%;
        background-color: rgb(99, 71, 99);
        transform: rotate(18916deg);

    }
    .rectangle-3 {
        height: 694px;
        width: 900px;
        border-radius: 75%;
        position:fixed;
        margin-top: 25%;
        z-index: -2;
        margin-left: 30%;
        background-color: rgb(141, 130, 130);
        transform: rotate(365deg)
    }
    .rectangle-4 {
        height: 491px;
        width: 791px;
        border-radius: 75%;
        position:fixed;
        margin-top: 42%;
        margin-left: 50%;
        z-index: -2;
        background-color: rgb(207, 180, 180);
        transform: rotate(305deg)
    }
    .rectangle-5 {
        height: 189px;
        width: 381px;
        border-radius: 75%;
        position:fixed;
        margin-top: 32%;
        margin-left: 10%;
        z-index: -2;
        background-color: rgb(153, 177, 148);
        transform: rotate(-219deg)
    }
    .rectangle-6 {
        height: 681px;
        width: 843px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 60%;
        z-index: -2;
        background-color: rgb(126, 147, 151);
        transform: rotate(-519deg);
    }
    .rectangle-7 {
        height: 681px;
        width: 461px;
        border-radius: 75%;
        position:fixed;
        margin-top: 1%;
        margin-left: 3%;
        z-index: -2;
        background-color: rgb(78, 149, 161);
        transform: rotate(519deg);
    }
    .a {
        color: rgb(24, 23, 23);
        text-decoration: none;
    }
    .a:hover {
        color: rgb(24, 23, 23);
        text-decoration:none; 
        cursor:pointer;  
    }
    
  
}

