body {
    background-color: #FDEEDC;
  }
  .portimg{
  opacity: 1.0;
  filter: drop-shadow(10px 10px 40px #E38B29);
}
.icon_linedin{
  filter: drop-shadow(5px 5px 5px #0072b1);
}
.icon_linedin:hover{
  animation-name: icon_linkedin;
  animation-duration: 2s;
}
.icon_github{
  filter: drop-shadow(5px 5px 5px #171515);
}
.icon_github:hover{
  animation-name: icon_github;
  animation-duration: 2s;
}
.icon_instagram{
  filter: drop-shadow(5px 5px 5px #E38B29);
}
.icon_instagram:hover{
  animation-name: icon_instagram;
  animation-duration: 2s;
}
.txt-long{
  padding: 10%;
}
.txt-font{
  font-family:  'Lato', sans-serif;
}
.txt{
  color: #F1A661;
  opacity: 1.0;
  text-shadow: 2px 2px 5px #FFD8A9;
}
.test{
  opacity: 1.0;
}
.test:hover{
  animation-name: test;
  position: relative;
  animation-duration: 4s;
}
.portimg:hover{
  animation-name: İmage;
  position: relative;
  animation-duration: 2s;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FDEED2 ;
  color: #2C3639;
  padding: 1%;
  text-align: center;
}
a:active, a:focus {
  outline: 0;
  border: none;
}
@keyframes icon_linkedin {
  0%   {filter: drop-shadow(0px 0px 0px #0072b1 );}
  25%  {filter: drop-shadow(10px 20px 80px #0072b1 );}
  50%  {filter: drop-shadow(10px 20px 80px #0072b1 );}
  75%  {filter: drop-shadow(10px 20px 80px #0072b1 );}
  100% {filter: drop-shadow(0px 0px 0px #0072b1 );}
}
@keyframes icon_github {
  0%   {filter: drop-shadow(0px 0px 0px #171515  );}
  25%  {filter: drop-shadow(10px 10px 80px #171515  );}
  50%  {filter: drop-shadow(10px 10px 80px #171515  );}
  75%  {filter: drop-shadow(10px 10px 80px #171515  );}
  100% {filter: drop-shadow(0px 0px 0px #171515  );}
}
@keyframes icon_instagram {
  0%   {filter: drop-shadow(0px 0px 0px #3f729b  );}
  25%  {filter: drop-shadow(10px 10px 80px #3f729b  );}
  50%  {filter: drop-shadow(10px 10px 80px #3f729b  );}
  75%  {filter: drop-shadow(10px 10px 80px #3f729b  );}
  100% {filter: drop-shadow(0px 0px 0px #3f729b  );}
}
@keyframes test {
  0%   {left:0px; top:0px; opacity: 1.0;}
  25%  {left:0px; top:200px; opacity: 1.0;}
  50%  {left:0px; top:200px; opacity: 1.0;}
  75%  {left:0px; top:200px; opacity: 1.0;}
  100% {left:0px; top:0px; opacity: 1.0;}
}
  @keyframes İmage {
    0%   {left:0px; top:0px; opacity: 1.0;}
    25%  {left:0px; top:-200px; opacity: 1.0;}
    50%  {left:0px; top:-200px; opacity: 1.0;}
    75%  {left:0px; top:-200px; opacity: 1.0;}
    100% {left:0px; top:0px; opacity: 1.0;}
  }